.main-game-container {
    width: 100%;
    background: #0F081A;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    
    &-header {
        display: grid;
        grid-template-columns: 60px 1fr 1fr;
        align-items: center;
        padding: 10px 14px;

        .game-title {
            font-family: 'Jersey 10';
            font-weight: 400;
            font-style: Regular;
            font-size: 72px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #0376FE

        }
        .header-right { display: flex; align-items: center; justify-content: flex-end; gap: 24px; }
    }
}

.arcade-game-wrapper {
    
    flex: 1;
    height: auto;
    margin: 0 auto;
    padding: 0;
    border: none;
    position: relative;
    overflow: hidden;
}

.arcade-game-wrapper::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45); /* darken to simulate lower bg opacity */
    pointer-events: none;
}